{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
   
  </head>
  <body>
      <!-- Navbar Start -->
      <nav class="navbar navbar-expand-md bg-inverse fixed-top scrolling-navbar">
        <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          {% comment %} <a href="{% url 'indexx' %}" class="navbar-brand"><img src="{% static 'img/logo.png' %}" alt=""></a>        {% endcomment %}
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <i class="lni-menu"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto w-100 justify-content-end clearfix">
              <li class="nav-item active">
                
              </li>
              
                
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'signup' %}">
                    Add Client
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'clientlist' %}">
                    clientlist
                    </a>
                  </li>
                  
                  <li class="nav-item">
                      {% block content %}

                      {% endblock %}
                    </li>
            </ul>
          </div>
        </div>
      </nav>

      
      <!-- Navbar End -->
   
   
      
  </body>
</html>
